{% extends "../../doc-layout/src/base.njk" %}

{% block default %}

<h1>Radius</h1>

<dockit-css-showcases
  css-props-prefix="--radius"
  component-class="box dark large"
  style-key="border-radius"
  checkered-background="false"
></dockit-css-showcases>

{% endblock %}