{% extends "../../doc-layout/src/base.njk" %}

{% block default %}

<h1>Elevation</h1>

<h2>Shadows</h2>

<dockit-css-showcases
  css-props-prefix="--shadow-[\d]{1,2}"
  component-class="box"
  style-key="box-shadow"
></dockit-css-showcases>

{% endblock %}